#signin-banner {
    position: absolute;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: gray;
}
#signin-banner button {
    margin-left: 40%;
    margin-top: 40%;
}

#player {
    position: relative;
}

#song_name {
    position: relative;
}

.song {
    width: 80%;
    /* height: fit-content; */
    border-top: solid black;
    border-bottom: solid black;
    margin-bottom: 5px;
}

.song p {
    text-align: center;
    white-space: pre-wrap;
}